management:
  endpoints:
    web:
      exposure:
        include: '*'
my:
  app:
    name: training
    version: 1.9.0
    build: '23'
    city: istanbul
    street: ataşehir
    country: Turkey
    owner:
      firstName: osman
      lastName: yaycıoğlu
      age: 53
      username: osmany
    other-names:
      - merkez
      - train
      - training
    person-list:
      - first-name: ali
        last-name: veli
        age: 51
        username: aliv
      - firstName: mehmet
        lastName: kula
        age: 45
        username: mehku
      - first_name: tahsin
        last_name: alaz
        age: 23
        username: tahsina
    person-map:
      aliveli:
        first-name: ali
        last-name: veli
        age: 33
        username: alive
      osmanyay:
        first-name: osman
        last-name: yay
        age: 53
        username: ostyay
server:
  port: '8090'
  http2:
    enabled: false
  error:
    include-binding-errors: always
    include-message: always
    include-exception: true
app:
  xyz:
    language: esp
spring:
  profiles:
    default: english
    active: turkish
  datasource:
    driverClassName: org.h2.Driver
    password: ''
    url: jdbc:h2:file:./data/demo
    username: sa
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true